form {
    padding: 20px;
    border-radius: 30px;
    background-color: white;
    max-width: 760px;
    margin: 0 auto;
}

hr {
    background-color: white;
}

.heading-text {
    text-align: center;
    color: white;
}

.heading {
    background: #EECDA3;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #EF629F, #EECDA3);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #EF629F, #EECDA3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    padding-top: 20px;
    padding-bottom: 20px;
}